# Description
Attrition Data

In [1]:
# The code was removed by Watson Studio for sharing.

  satisfaction_level last_evaluation number_project average_montly_hours
1 0.38               0.53            2              157
2 0.80               0.86            5              262
3 0.11               0.88            7              272
4 0.72               0.87            5              223
5 0.37               0.52            2              159
6 0.41               0.50            2              153
  time_spend_company Work_accident promotion_last_5years Dept  salary left
1 3                  0             0                     sales low    1
2 6                  0             0                     sales medium 1
3 4                  0             0                     sales medium 1
4 5                  0             0                     sales low    1
5 3                  0             0                     sales low    1
6 3                  0             0                     sales low    1